nav {
    background-color: #333;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  /* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  nav ul li a {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 576px) {
  /* Further adjust styles for even smaller screens */
  nav ul li a {
    padding: 8px 10px;
  }
}