h1{
    text-align: center;
}
#show table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 3%;
    cursor: pointer;
  }
  
  table th,
  table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    text-align: center;
  }
  select {
    margin-bottom: 20px;
  }
  
  /* Avatar styles */
  /* .avatar-cell {
    width: 60px;
  }
  
  .avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  footer{
    height: 5%;
  }

  p{
    padding: 20px;
  } */
  /* studentdata.css */



/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust table styles for smaller screens */
  th, td {
    padding: 4px;
  }
}

@media screen and (max-width: 576px) {
  /* Further adjust table styles for even smaller screens */
  th, td {
    padding: 2px;
  }
}

/* CSS for the update button */
#updateButton {
  padding: 10px 10px;
  font-size: 25px;
  background-color: #06f712;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  
}

#updateButton:hover {
  background-color: #5bf855;
}

/* Responsive CSS for the update button */
@media screen and (max-width: 768px) {
  #updateButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  #updateButton {
    padding: 6px 12px;
    font-size: 12px;
  }
}

/* Regular styles for delete button */
#deleteButton {
  padding: 10px 10px;
  font-size: 10px;
  background-color: #06f712;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin:0px 10px;
  width: 50px;
}

#deleteButton:hover {
  background-color: #5bf855;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  button#deleteButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  /* Further adjust styles for even smaller screens */
  button#deleteButton {
    padding: 6px 12px;
    font-size: 12px;
  }
}
